global:
  container:
    requestsLimitsEnabled: true
  istio:
    sidecar:
      requestsLimitsEnabled: true
      resources:
        requests: {}
        limits: {}
  registry:
    formSchemaProvider:
      container:
        envVars: {}
        resources:
          requests: {}
          limits: {}
      istio:
        sidecar:
          enabled: true
          resources:
            requests: {}
            limits: {}
      replicas: 1

name: form-schema-provider

image:
  name: form-schema-provider
  version: latest

port: 8080

appConfigMountPath: "/app/config"

deployProfile: prod

probes:
  liveness:
    path: /actuator/health/liveness
  readiness:
    path: /actuator/health/readiness

monitoring:
  namespace: openshift-monitoring
  prometheusScrapePath: /actuator/prometheus
  jobLabel: app

keycloak:
  realms:
    officer: officer-portal
    citizen: citizen-portal
    admin: admin
  certificatesEndpoint: /protocol/openid-connect/certs

Role:
  type: Role
  name: form-schema-provider-role
RoleBinding:
  type: RoleBinding
  name: form-schema-provider-role

serviceAccount:
  create: true
  annotations: {}
  name: form-schema-provider

service:
  port: 8080

redis:
  secretName: redis-form-schema-provider-user-secret

ingress:
  required: true
  site: form-schema-provider
